wget
asyncio
pyrogram==1.0.1
tgcrypto
psycopg2-binary
sqlalchemy
httplib2
pySmartDL
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.6
google-api-core==2.0.1
google-api-python-client==2.22.0
google-auth==2.1.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.53.0
httplib2==0.19.1
idna==3.2
oauth2client==4.1.3
oauthlib==3.1.1
youtube_dl
ffmpeg
requests-oauthlib==1.3.0
